/* = Preview Box
--------------------------------------------- */
#preview-box-container {
	position: fixed;
	z-index: 99999;
	top: 200px;
	float:left;
	left: -5000px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
	#preview-box {
		overflow-y:auto;
	}
	#preview-box-container > #preview-box {
		padding: 20px 20px 20px 20px;
		background-color: #111111;
		color: #FFFFFF;

		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		display:block;
		float:left;
	}
	#preview-box-container > #preview-box-toggle {
		position: absolute;
		top: 110px;
		right: -26px;
		padding: 7px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		color:#FFF;
		font-size:18px;
		line-height:1;

		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color:#000;
	}
	.core-option-color {
		display: inline-block;
		width: 24px;
		height: 24px;
		border: 1px solid #dfdfdf;
		background-color: transparent;
		margin-left: 5px;
		cursor: pointer;
		border-radius: 3px;
	}
	.colorpicker {
		z-index: 999991;
	}
	.colorpicker input {
		background-color: rgba(0, 0, 0, 0);
		border: 1px solid rgba(0, 0, 0, 0);
		color: #898989;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 10px;
		height: 11px;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 11px;
		text-align: right;
		top: 4px;
		width:auto;
	}
	#preview-box .optionlist {
		width:200px;
		display:block;
		clear:both;
		float:left;
	}
	#preview-box .optionlist .row-blk{
		width:100%;
		clear:both;
		display:block;
		float:left;
		padding:2px 0;
	}
	#preview-box .optionlist .row-blk > div:last-child{
		width:40px;
		float:left;
	}
	#preview-box .optionlist .row-blk > div:first-child{
		width:160px;
		float:left;
	}
	.clear {
		clear:both;
	}
	#colorSelector {
		display:inline-block;
		width:40px;
		height:40px;
		border:solid 1px #333;
	}
 	.colorpicker_field input[type="text"],
	.colorpicker_hex input[type="text"]{
		width:auto !important;
		padding:0 !important;
	}
 	.core-option-number-up, .core-option-number-down {
	width: 16px;
	height: 25px;
	margin-left: 5px;
	display: inline-block;
	cursor: pointer;
	background-image: url(../../options/images/buttons-number-arrows.png);
	background-repeat: no-repeat;
	}
	.core-option-number-up {
		border-right: none;
		background-position: 0px 0px;
	}
	
	.core-option-number-down {
		border-left: none;
		background-position: -16px 0px;
	}
	input#prevMenuBGOpacity {
		padding:3px 2px !important;
		width:25px;
		float:left;
	}
	.pb-opacityblk .core-option-number-up,
	.pb-opacityblk .core-option-number-down {
		margin:0;
		width:14px;
		float:right;
		height:15px;
		background-position:-2px -5px;
	}
	.pb-opacityblk .core-option-number-down {	
		background-position:right -5px;
	}


@media screen and (max-width: 1024px) {
	#preview-box-container {
		display: none;		
	}
}