/*
--------------------------------------------------------------
WARNING: (BEFORE YOU MAKE ANY CHANGES)
--------------------------------------------------------------
Please add your styles in the style.css file.
--------------------------------------------------------------

/* =Base
-------------------------------------------------------------- */
html {
	height: 100%;
	background: #e5e5e5;
}

body {
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	background: #e5e5e5;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-smoothing: antialiased;
	line-height: 1.5em;
	text-rendering: optimizeLegibility;
}

/* =Typography
-------------------------------------------------------------- */
p {
    word-wrap: break-word;
}

i,
em,
dfn,
cite {
	font-style: italic;
}

tt,
var,
pre,
kbd,
samp,
code {
	font-family: monospace, serif;
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

pre {
    -moz-box-sizing: border-box;
	-moz-border-radius: 2px;
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
	background: #f4f4f4;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
    height: auto;
	margin: 0;
	outline: none;
	padding: 6px 10px;
	vertical-align: middle;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 12px;
}

del {
	color: #555;
	text-decoration: line-through;
}

ins,
dfn {
	border-bottom: 1px solid transparent;
}

sup,
sub,
small {
	font-size: 85%;
}

abbr,
acronym {
	font-size: 85%;
	letter-spacing: .1em;
	text-transform: uppercase;
}

a abbr,
a acronym {
	border: none;
}

dfn[title],
abbr[title],
acronym[title] {
	border-bottom: 1px solid #ccc;
	cursor: help;
}

sup {
	vertical-align: super;
}

sub {
	vertical-align: sub;
}

/* =Links
-------------------------------------------------------------- */
a {
	color: #53a7bf;
	font-weight: 400;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #444;
    outline: 0;
	text-decoration: none;
}

::selection {
	background: #999;
    color: #fff;
	text-shadow: none;
}

/* =Forms
-------------------------------------------------------------- */
label {
	display: inline-block;
	font-weight: normal;
	padding: 2px 0;
}

legend {
	padding: 2px 5px;
}

fieldset {
	border: 1px solid #ccc;
	margin: 0 0 1.5em;
	padding: 1em 2em;
}

select,
input[type="text"],
input[type="password"],
input[type="email"] {
    -moz-box-sizing: border-box;
	-moz-border-radius: 2px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
	margin: 0;
	outline: none;
	padding: 6px 8px;
	vertical-align: middle;
	width: 100%;
}

select {
	height: auto;
	width: 100%;
}

area,
textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
	box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-bottom-color: #ccc;
	border-radius: 2px;
	height: auto;
	overflow: auto;
	margin: 0;
	outline: none;
	padding: 8px 10px;
	width: 100%;
}

input,
select {
	cursor: pointer;
}

area:focus,
input:focus,
textarea:focus {
    border: 1px solid #6cf;
}

input[type='text'],
input[type='password'] {
	cursor: text;
}

/* =IE Forms
-------------------------------------------------------------- */
.ie7 area,
.ie7 select,
.ie7 textarea,
.ie7 input[type="text"],
.ie7 input[type="password"] {
    width: 96%;
}

/* =Buttons
-------------------------------------------------------------- */
button,
a.button,
input[type='reset'],
input[type='button'],
input[type='submit'] {
	-moz-border-radius: 2px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, inset 0 0 20px rgba(0,0,0,0.125);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, inset 0 0 20px rgba(0,0,0,0.125);
	-webkit-border-radius: 2px;
	background-color: #f0f0f0; /* Alabaster */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f0f0f0, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f0f0f0, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f0f0f0, #f1f1f1);
	background-image: -o-linear-gradient(top, #f0f0f0, #f1f1f1);
	background-image: linear-gradient(top, #f0f0f0, #f1f1f1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, inset 0 0 20px rgba(0,0,0,0.125);
	border: 1px solid #ddd;
	border-radius: 2px;
	color: #333;
	cursor: pointer;
	display: inline-block;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);*/
	font-size: 14px;
	font-weight: 700;
    line-height: 20px;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	/*text-shadow: 0 1px 0 #fff;*/
	vertical-align: middle;
	/*white-space: nowrap;*/
}

button:hover,
a.button:hover,
input[type='reset']:hover,
input[type='button']:hover,
input[type='submit']:hover {
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #fff, #f1f1f1);
	background-image: -moz-linear-gradient(top, #fff, #f1f1f1);
	background-image: -ms-linear-gradient(top, #fff, #f1f1f1);
	background-image: -o-linear-gradient(top, #fff, #f1f1f1);
	background-image: linear-gradient(top, #fff, #f1f1f1);
	border: 1px solid #ddd;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	color: #333;
}

button:active,
a.button:active,
input[type='reset']:active,
input[type='button']:active,
input[type='submit']:active {
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
	background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
    box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* =Buttons (Call to Action)
-------------------------------------------------------------- */
.call-to-action {
	text-align: center;
}

.call-to-action a.button {
	font-size: 24px;
	padding: 15px 35px;
}

.call-to-action a.button:hover {
	text-decoration: none;
}

.ie7 .call-to-action a.button {
    padding: 11px 35px 19px 35px;
}

/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button, a.small {
	font-size: 10px;
	padding: 3px 6px;
}

.medium a.button, a.medium {
	font-size: 14px;
	padding: 8px;
}

.large a.button, a.large {
	font-size: 18px;
	padding: 10px;
}

.xlarge a.button, a.xlarge {
	font-size: 24px;
	padding: 18px;
}

/* =Buttons (Colors)
-------------------------------------------------------------- */
a.blue {
	background-color: #1874cd; /* Dodger Blue */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
	background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
	background-image: linear-gradient(top, #4f9eea, #1874cd);
	border: 1px solid #115290;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#1874cd);
	text-shadow: 0 -1px 0 #115290;
}

a.blue:hover {
	background-color: #7db7f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7db7f0), to(#1874cd));
	background-image: -webkit-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -moz-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -ms-linear-gradient(top, #7db7f0, #1874cd);
	background-image: -o-linear-gradient(top, #7db7f0, #1874cd);
	background-image: linear-gradient(top, #7db7f0, #1874cd);
	border: 1px solid #115290;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0, endColorstr=#1874cd);
	text-shadow: 0 -1px 0 #115290;
}

a.red {
	background-color: #cd0000; /* Red 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2323), to(#cd0000));
	background-image: -webkit-linear-gradient(top, #ff2323, #cd0000);
	background-image: -moz-linear-gradient(top, #ff2323, #cd0000);
	background-image: -ms-linear-gradient(top, #ff2323, #cd0000);
	background-image: -o-linear-gradient(top, #ff2323, #cd0000);
	background-image: linear-gradient(top, #ff2323, #cd0000);
	border: 1px solid #890000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2323, endColorstr=#cd0000);
	text-shadow: 0 -1px 0 #890000;
}

a.red:hover {
	background-color: #ff5656;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5656), to(#cd0000));
	background-image: -webkit-linear-gradient(top, #ff5656, #cd0000);
	background-image: -moz-linear-gradient(top, #ff5656, #cd0000);
	background-image: -ms-linear-gradient(top, #ff5656, #cd0000);
	background-image: -o-linear-gradient(top, #ff5656, #cd0000);
	background-image: linear-gradient(top, #ff5656, #cd0000);
	border: 1px solid #890000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5656, endColorstr=#cd0000);
	text-shadow: 0 -1px 0 #890000;
}

a.orange {
	background-color: #ff7f00; /* Dark Orange 1 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fa5), to(#ff7f00));
	background-image: -webkit-linear-gradient(top, #fa5, #ff7f00);
	background-image: -moz-linear-gradient(top, #fa5, #ff7f00);
	background-image: -ms-linear-gradient(top, #fa5, #ff7f00);
	background-image: -o-linear-gradient(top, #fa5, #ff7f00);
	background-image: linear-gradient(top, #fa5, #ff7f00);
	border: 1px solid #bb5d00;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaa55, endColorstr=#ff7f00);
	text-shadow:0 -1px 0 #bb5d00;
}

a.orange:hover {
	background-color: #ffc388;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc388), to(#ff7f00));
	background-image: -webkit-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -moz-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -ms-linear-gradient(top, #ffc388, #ff7f00);
	background-image: -o-linear-gradient(top, #ffc388, #ff7f00);
	background-image: linear-gradient(top, #ffc388, #ff7f00);
	border: 1px solid #bb5d00;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc388, endColorstr=#ff7f00);
	text-shadow:0 -1px 0 #bb5d00;
}

a.yellow {
	background-color: #ecca06; /* Yellow Gold */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff2aa), to(#ffd700));
	background-image: -webkit-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -moz-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -ms-linear-gradient(top, #fff2aa, #ffd700);
	background-image: -o-linear-gradient(top, #fff2aa, #ffd700);
	background-image: linear-gradient(top, #fff2aa, #ffd700);
	border: 1px solid #bb9e00;
	color: #161300;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff2aa, endColorstr=#ffd700);
	text-shadow:0 1px 0 #fff;
}

a.yellow:hover {
	background-color: #fffadd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fffadd), to(#ffd700));
	background-image: -webkit-linear-gradient(top, #fffadd, #ffd700);
	background-image: -moz-linear-gradient(top, #fffadd, #ffd700);
	background-image: -ms-linear-gradient(top, #fffadd, #ffd700);
	background-image: -o-linear-gradient(top, #fffadd, #ffd700);
	background-image: linear-gradient(top, #fffadd, #ffd700);
	border: 1px solid #bb9e00;
	color: #161300;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffadd, endColorstr=#ffd700);
	text-shadow:0 1px 0 #fff;
}

a.green {
	background-color: #2e8b57; /* Sea Green 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4bc380), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -moz-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -ms-linear-gradient(top, #4bc380, #2e8b57);
	background-image: -o-linear-gradient(top, #4bc380, #2e8b57);
	background-image: linear-gradient(top, #4bc380, #2e8b57);
	border: 1px solid #1d5837;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4bc380, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
}

a.green:hover {
	background-color: #71d09b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#71d09b), to(#2e8b57));
	background-image: -webkit-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -moz-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -ms-linear-gradient(top, #71d09b, #2e8b57);
	background-image: -o-linear-gradient(top, #71d09b, #2e8b57);
	background-image: linear-gradient(top, #71d09b, #2e8b57);
	border: 1px solid #1d5837;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#71d09b, endColorstr=#2e8b57);
	text-shadow: 0 -1px 0 #1d5837;
}

a.olive {
	background-color: #838b83; /* Honey Dew 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e000), to(#838b83));
	background-image: -webkit-linear-gradient(top, #afb4af, #838b83);
	background-image: -moz-linear-gradient(top, #afb4af, #838b83);
	background-image: -ms-linear-gradient(top, #afb4af, #838b83);
	background-image: -o-linear-gradient(top, #afb4af, #838b83);
	background-image: linear-gradient(top, #afb4af, #838b83);
	border: 1px solid #626862;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#afb4af, endColorstr=#838b83);
	text-shadow: 0 -1px 0 #626862;
}

a.olive:hover {
	background-color: #c9cdc9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c9cdc9), to(#838b83));
	background-image: -webkit-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -moz-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -ms-linear-gradient(top, #c9cdc9, #838b83);
	background-image: -o-linear-gradient(top, #c9cdc9, #838b83);
	background-image: linear-gradient(top, #c9cdc9, #838b83);
	border: 1px solid #626862;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9cdc9, endColorstr=#838b83);
	text-shadow: 0 -1px 0 #626862;
}

a.purple {
	background-color: #5d478b; /* Medium Purple 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8771b6), to(#5d478b));
	background-image: -webkit-linear-gradient(top, #8771b6, #5d478b);
	background-image: -moz-linear-gradient(top, #8771b6, #5d478b);
	background-image: -ms-linear-gradient(top, #8771b6, #5d478b);
	background-image: -o-linear-gradient(top, #8771b6, #5d478b);
	background-image: linear-gradient(top, #8771b6, #5d478b);
	border: 1px solid #3f305e;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8771b6, endColorstr=#5d478b);
	text-shadow: 0 -1px 0 #3f305e;
}

a.purple:hover {
	background-color: #a492c8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a492c8), to(#5d478b));
	background-image: -webkit-linear-gradient(top, #a492c8, #5d478b);
	background-image: -moz-linear-gradient(top, #a492c8, #5d478b);
	background-image: -ms-linear-gradient(top, #a492c8, #5d478b);
	background-image: -o-linear-gradient(top, #a492c8, #5d478b);
	background-image: linear-gradient(top, #a492c8, #5d478b);
	border: 1px solid #3f305e;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a492c8, endColorstr=#5d478b);
	text-shadow: 0 -1px 0 #3f305e;
}

a.pink {
	background-color: #cd1076; /* Deep Pink 3 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f042a0), to(#cd1076));
	background-image: -webkit-linear-gradient(top, #f042a0, #cd1076);
	background-image: -moz-linear-gradient(top, #f042a0, #cd1076);
	background-image: -ms-linear-gradient(top, #f042a0, #cd1076);
	background-image: -o-linear-gradient(top, #f042a0, #cd1076);
	background-image: linear-gradient(top, #f042a0, #cd1076);
	border: 1px solid #8e0b52;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f042a0, endColorstr=#cd1076);
	text-shadow: 0 -1px 0 #8e0b52;
}

a.pink:hover {
	background-color: #f471b8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f471b8), to(#cd1076));
	background-image: -webkit-linear-gradient(top, #f471b8, #cd1076);
	background-image: -moz-linear-gradient(top, #f471b8, #cd1076);
	background-image: -ms-linear-gradient(top, #f471b8, #cd1076);
	background-image: -o-linear-gradient(top, #f471b8, #cd1076);
	background-image: linear-gradient(top, #f471b8, #cd1076);
	border: 1px solid #8e0b52;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f471b8, endColorstr=#cd1076);
	text-shadow: 0 -1px 0 #8e0b52;
}

a.brick {
	background-color: #b22222; /* Fire Brick */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4c4c), to(#b22222));
	background-image: -webkit-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -moz-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -ms-linear-gradient(top, #dd4c4c, #b22222);
	background-image: -o-linear-gradient(top, #dd4c4c, #b22222);
	background-image: linear-gradient(top, #dd4c4c, #b22222);
	border: 1px solid #791717;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd4c4c, endColorstr=#b22222);
	text-shadow: 0 -1px 0 #791717;
}

a.brick:hover {
	background-color: #e57777;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e57777), to(#b22222));
	background-image: -webkit-linear-gradient(top, #e57777, #b22222);
	background-image: -moz-linear-gradient(top, #e57777, #b22222);
	background-image: -ms-linear-gradient(top, #e57777, #b22222);
	background-image: -o-linear-gradient(top, #e57777, #b22222);
	background-image: linear-gradient(top, #e57777, #b22222);
	border: 1px solid #791717;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e57777, endColorstr=#b22222);
	text-shadow: 0 -1px 0 #791717;
}

a.gold {
	background-color: #8b6508; /* Dark Golden Rod 4 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#db9f0d), to(#8b6508));
	background-image: -webkit-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -moz-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -ms-linear-gradient(top, #db9f0d, #8b6508);
	background-image: -o-linear-gradient(top, #db9f0d, #8b6508);
	background-image: linear-gradient(top, #db9f0d, #8b6508);
	border: 1px solid #6b4e06;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db9f0d, endColorstr=#8b6508);
	text-shadow: 0 -1px 0 #6b4e06;
}

a.gold:hover {
	background-color: #f3b828;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f3b828), to(#8b6508));
	background-image: -webkit-linear-gradient(top, #f3b828, #8b6508);
	background-image: -moz-linear-gradient(top, #f3b828, #8b6508);
	background-image: -ms-linear-gradient(top, #f3b828, #8b6508);
	background-image: -o-linear-gradient(top, #f3b828, #8b6508);
	background-image: linear-gradient(top, #f3b828, #8b6508);
	border: 1px solid #6b4e06;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3b828, endColorstr=#8b6508);
	text-shadow: 0 -1px 0 #6b4e06;
}

a.brown {
	background-color: #8b4513; /* Saddle Brown */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d66a1d), to(#8b4513));
	background-image: -webkit-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -moz-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -ms-linear-gradient(top, #d66a1d, #8b4513);
	background-image: -o-linear-gradient(top, #d66a1d, #8b4513);
	background-image: linear-gradient(top, #d66a1d, #8b4513);
	border: 1px solid #4f270b;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d66a1d, endColorstr=#8b4513);
	text-shadow: 0 -1px 0 #4f270b;
}

a.brown:hover {
	background-color: #8b4513;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e58541), to(#8b4513));
	background-image: -webkit-linear-gradient(top, #e58541, #8b4513);
	background-image: -moz-linear-gradient(top, #e58541, #8b4513);
	background-image: -ms-linear-gradient(top, #e58541, #8b4513);
	background-image: -o-linear-gradient(top, #e58541, #8b4513);
	background-image: linear-gradient(top, #e58541, #8b4513);
	border: 1px solid #4f270b;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e58541, endColorstr=#8b4513);
	text-shadow: 0 -1px 0 #4f270b;
}

a.silver {
	background-color: #c0c0c0; /* Silver */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c0c0c0));
	background-image: -webkit-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -moz-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -ms-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: -o-linear-gradient(top, #eaeaea, #c0c0c0);
	background-image: linear-gradient(top, #eaeaea, #c0c0c0);
	border: 1px solid #9e9e9e;
	color: #444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#c0c0c0);
	text-shadow: 0 1px 0 #fff;
}

a.silver:hover {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c0c0c0));
	background-image: -webkit-linear-gradient(top, #fff, #c0c0c0);
	background-image: -moz-linear-gradient(top, #fff, #c0c0c0);
	background-image: -ms-linear-gradient(top, #fff, #c0c0c0);
	background-image: -o-linear-gradient(top, #fff, #c0c0c0);
	background-image: linear-gradient(top, #fff, #c0c0c0);
	border: 1px solid #9e9e9e;
	color: #444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#c0c0c0);
	text-shadow: 0 1px 0 #fff;
}

a.gray {
	background-color: #696969; /* Dim Gray */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#696969));
	background-image: -webkit-linear-gradient(top, #939393, #696969);
	background-image: -moz-linear-gradient(top, #939393, #696969);
	background-image: -ms-linear-gradient(top, #939393, #696969);
	background-image: -o-linear-gradient(top, #939393, #696969);
	background-image: linear-gradient(top, #939393, #696969);
	border: 1px solid #474747;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#939393, endColorstr=#696969);
	text-shadow: 0 -1px 0 #474747;
}

a.gray:hover {
	background-color: #adadad;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#696969));
	background-image: -webkit-linear-gradient(top, #adadad, #696969);
	background-image: -moz-linear-gradient(top, #adadad, #696969);
	background-image: -ms-linear-gradient(top, #adadad, #696969);
	background-image: -o-linear-gradient(top, #adadad, #696969);
	background-image: linear-gradient(top, #adadad, #696969);
	border: 1px solid #474747;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#adadad, endColorstr=#696969);
	text-shadow: 0 -1px 0 #474747;
}

a.black {
	background-color: #080808; /* Black */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#080808));
	background-image: -webkit-linear-gradient(top, #323232, #080808);
	background-image: -moz-linear-gradient(top, #323232, #080808);
	background-image: -ms-linear-gradient(top, #323232, #080808);
	background-image: -o-linear-gradient(top, #323232, #080808);
	background-image: linear-gradient(top, #323232, #080808);
	border: 1px solid #000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232, endColorstr=#080808);
	text-shadow: 0 -1px 0 #000;
}

a.black:hover {
	background-color: #4c4c4c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#080808));
	background-image: -webkit-linear-gradient(top, #4c4c4c, #080808);
	background-image: -moz-linear-gradient(top, #4c4c4c, #080808);
	background-image: -ms-linear-gradient(top, #4c4c4c, #080808);
	background-image: -o-linear-gradient(top, #4c4c4c, #080808);
	background-image: linear-gradient(top, #4c4c4c, #080808);
	border: 1px solid #000;
	color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c4c4c, endColorstr=#080808);
	text-shadow: 0 -1px 0 #000;
}

/* =Info Boxes
-------------------------------------------------------------- */
.info-box {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin: 20px 0;
	padding: 15px;
	text-align: left;
}

.alert {
	background-color: #faebeb;
	border: 1px solid #dc7070;
	color: #212121;
}

.address {
	background-color: #f6f5ef;
	border: 1px solid #cdc9a5;
	color: #212121;
}

.notice {
	background-color: #fbf9e9;
	border: 1px solid #e3cf57;
	color: #212121;
}

.success {
	background-color: #f9fde8;
	border: 1px solid #a2bc13;
	color: #212121;
}

.download {
	background-color: #fff4e5;
	border: 1px solid #ff9912;
	color: #212121;
}

.information {
	background-color: #eef3f6;
	border: 1px solid #6ca6cd;
	color: #212121;
}

.required {
	color: #d5243f;
}

/* =IE6 Notice
-------------------------------------------------------------- */
.msie-box {
	background-color: #f9edbe;
	border: 1px solid #f0c36d;
	color: #212121;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	padding: 10px;
	position: absolute;
	top: 60px;
	text-align: center;
	width: 100%;
}

.msie-box a {
	color: #212121;
}

/* =Tables
-------------------------------------------------------------- */
th,
td,
table {
	border: 1px solid #ddd;
}

table {
	border-collapse: collapse;
	width: 100%;
}

/* =Lists
-------------------------------------------------------------- */
ul {
	list-style-type: disc;
    margin: 0;
    padding: 0;
}

ol {
	line-height: 22px;
	list-style-position: outside;
	list-style-type: decimal;
    margin: 0;
    padding: 0;
}

dt {
	font-weight: 400;
}

/* =Blockquote
-------------------------------------------------------------- */
blockquote {
	background: #f9f9f9;
	border: none;
	border-left: 4px solid #d6d6d6;
	margin: 20px;
	overflow: auto;
	padding: 0 0 10px 12px;
}

blockquote p {
	font-family: 'Georgia', 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 1em;
}

blockquote p:last-child {
	margin-bottom: 0;
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: 700;
	line-height: 1.0em;
    word-wrap: break-word;
    margin-top: 0;
}

h1 {
    font-size: 2.625em; /* = 42px */
    margin-bottom: .5em;
    /* margin-top: .5em; */
}

h2 {
    font-size: 2.250em; /* = 36px */
    margin-bottom: .75em;
    /* margin-top: .75em; */
}

h3 {
    font-size: 1.875em; /* = 30px */
    margin-bottom: .857em;
    /* margin-top: .857em; */
}

h4 {
    font-size: 1.500em; /* = 24px */
    margin-bottom: 1em;
    /* margin-top: 1em; */
}

h5 {
    font-size: 1.125em; /* = 18px */
    margin-bottom: 1.125em;
    /* margin-top: 1.125em; */
}

h6 {
    font-size: 1.000em; /* = 16px */
    margin-bottom: 1.285em;
    /* margin-top: 1.285em; */
}

/* =Margins & Paddings
-------------------------------------------------------------- */
p,
hr,
dl,
pre,
form,
table,
address,
blockquote {
	margin: 1.6em 0;
}

th, td {
	padding: .8em;
}

caption {
	padding-bottom: .8em;
}

blockquote {
	padding: 1em;
}

blockquote:first-child {
	margin: .8em 0;
}

fieldset {
	margin: 1.6em 0;
}

legend {
	padding-left: .8em;
	padding-right: .8em;
}

legend+* {
	margin-top: 1em;
}

input,
textarea {

}

select {

}

option {

}

dl {
	margin: 0 20px;
}

dd, dt {
	margin: 0;
}

dd {
	margin: 0 0 20px;
}

dt {
	font-weight: 700;
}

ul {
    list-style-type: disc;
}
ul ul {
    list-style-type: square;
}
ul ul ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

ul,
ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 2.0em;
}

li ul,
li ol {
    margin: 0;
}

form div {
	margin-bottom: .8em;
}

/* =Globals
-------------------------------------------------------------- */
.container {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0;
}

.wrapper {
	background-color: #fff;
	clear: both;
	margin: 20px auto;
	padding: 0;
	position: relative;
}

.theme-row, .theme-wrap {
	margin: 0 auto;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

.theme-wrap {
	max-width: 1100px;
}

.theme-custom {
    margin: 0 auto;
    padding: 20px 0;
}

.header {
	margin: 0 auto;
}

.footer {
	clear: both;
	margin: 0 auto;
}

.footer-wrapper {
	margin: 0 auto;
	padding: 0;
}

/* =Header
-------------------------------------------------------------- */
#theme-logo {
	float: left;
	margin: 0;
}

#theme-logo > a {
    display: block;
}

#site-title {
	display: block;
	font-size: 2.063em; /* = 33px */
    line-height: 1.0em;
}

#site-title a {
	font-weight: 700;
}

#site-title img {
	max-width: 100%;
}

#site-description {
    color: #afafaf;
	display: block;
	font-size: 0.875em; /* = 14px */
	margin: 10px 0;
}

/* =Content
-------------------------------------------------------------- */
.theme-content {
	margin-bottom: 20px;
}

.theme-content .sticky {
    clear: both;
}

.theme-content .sticky p {
}

/* =Page
-------------------------------------------------------------- */


/* =Author Meta (Author's Box)
-------------------------------------------------------------- */
/* =================================
    Author information
   ================================= */
.theme-author {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

	.theme-author .avatar {
		float: left;
		margin-top: 0.3em;
		margin-right: 0.6em;
		margin-bottom: 0.5em;
	}

	.theme-author .description {
		width: 64.5%;
		margin-right: 3%;
		float: left;
	}

	.theme-author .posts {
		width: 31.5%;
		float: left;
	}

	.theme-author .posts > ul {
		padding-left: 0;
		margin-right: 0;
	}

	.theme-author .posts > ul > li {
		line-height: 1.8em;
		margin: 0;
		list-style: none;
	}

	.theme-author p:last-child {
		margin-bottom: 0;
		margin-left:80px;
	}
#author-meta, .theme-author {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	background: #f9f9f9;
	border: 1px solid #d6d6d6;
    border-radius: 4px;
	clear: both;
	display: block;
	margin: 30px 0;
    padding: 10px;
	overflow: hidden;
}

#author-meta img {
	float: left;
	padding: 10px 15px 0 5px;
}

#author-meta p {
    margin: 0;
	padding: 5px;
}

#author-meta .about-author {
	font-weight: 700;
	margin: 10px 0 0 0;
}

/* =Featured Content
-------------------------------------------------------------- */
/*.featured {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding-bottom: 40px;
	width: 99.893617021277%;
}

.featured p {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	padding: 0 40px 0 40px;
	text-align: center;
}

.featured-image {
	margin: 20px 0;
}*/

/* =Related posts
-------------------------------------------------------------- */
.related-posts {
	width: 100%;
	margin-top: 15px;
}

	.related-posts * {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-sizing: border-box;
		-ms-sizing: border-box;
	}

	.related-posts .post {
		float: left;
		position: relative;
		width: 14.5833%;
		margin-right: 2.5%;
		border: 4px solid transparent;
		box-shadow: 0 0 12px rgba(127, 127, 127, 0.5);

		-webkit-transition-duration: 0.5s;
		-webkit-transition-property: border-color;
	  	-moz-transition-duration: 0.5s;
	  	-moz-transition-property: border-color;
	  	-ms-transition-duration: 0.5s;
	  	-ms-transition-property: border-color;
	  	-o-transition-duration: 0.5s;
	  	-o-transition-property: border-color;
	  	transition-duration: 0.5s;
	  	transition-property: border-color;
	}

	.related-posts .post:last-child {
		margin-right: 0;
	}

	.related-posts .thumbnail {
		width: 100%;
		height: auto;
	}

	.related-posts .title {
		font-size: 0.8em;
		background-color: #000000;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 5px;
		position: absolute;
		bottom: 0px;
		color: #fff;
		width: 100%;
	}

/* =Post
-------------------------------------------------------------- */
.comments-link {
	/*font-size: 12px;*/
}

#cancel-comment-reply-link {
	color: #900;
	float: right;
    font-size: 12px;
}

.post-data {
	clear: both;
	font-size: 12px;
	font-weight: 700;
	margin-top: 20px;
}

.post-data a {
	color: #111;
}

.post-entry {
	clear: both;
}

.post-meta {
	clear: both;
	color: #9f9f9f;
	font-size: 12px;
	margin-bottom: 10px;
}

.sep {
	padding: 0 5px;
}

.post-edit {
	clear: both;
	display: block;
	font-size: 12px;
	margin: 1.5em 0;
}

.post-search-terms {
	clear: both;
}

.read-more {
	clear: both;
	font-weight: 700;
}

.attachment-entry {
	clear: both;
	text-align: center;
}

/* =bbPress
    bbPress has its own breadcrumb lists
-------------------------------------------------------------- */
.bbPress .breadcrumb-list {
	display: none;
}

/* =Symbols
-------------------------------------------------------------- */
.ellipsis {
	color: #aaa;
	font-size: 18px;
	margin-left: 5px;
}

.form-allowed-tags {
    display: none;
	font-size: 10px;
}

/* =Widgets
-------------------------------------------------------------- */
.widget_container {
	-moz-box-sizing: border-box;
	/*-moz-border-radius: 2px;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.15);
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.15);*/
    -webkit-box-sizing: border-box;
	/* box-shadow: 0 0 3px rgba(0,0,0,0.15);*/
    box-sizing: border-box;
	/*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	background-color: #fdfdfd;*/
	border: 1px solid #e5e5e5;
	/*border-radius: 4px;*/
	margin: 0 0 20px;
	padding: 20px 20px 0;
}

.widget_container select,
.widget_container input[type="text"],
.widget_container input[type="password"] {
    width: 75%;
}

.widget {
	margin-bottom: 1.5em;
	position: relative;
}

.widget:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

.widget:last-child {
	margin-bottom: 0;
}

.home .widget {
	margin-top: 0;
}

.widget a {
	display: inline-block;
	margin: 0;
	text-decoration: none;
}

.widget form {
    margin: 0;
}

.widget ul,
.widget ol {
    padding: 0;
    list-style: none;
}

.widget ul li a {
	display: inline;
	text-decoration: none;
}

.widget .widget-title img {
	float: right;
	height: 11px;
	position: relative;
	top: 4px;
	width: 11px;
}

.widget .rss-date {
	line-height: 18px;
	padding: 6px 12px;
}

.widget .rssSummary {
	padding: 10px;
}

.widget cite {
	font-style: normal;
	line-height: 18px;
	padding: 6px 12px;
}

.widget .tagcloud,
.widget .textwidget {
	display: block;
	line-height: 1.5em;
	margin: 0;
	word-wrap: break-word;
}

.widget .textwidget a {
	display: inline;
}

.widget ul .children {
	padding: 0 0 0 10px;
}

.widget .author {
	font-weight: 700;
	padding-top: 4px;
}

.widget_archive select, #cat {
	display: block;
	margin: 0 15px 0 0;
}

/* =Titles
-------------------------------------------------------------- */
.featured-title {
	font-size:  60px;
	letter-spacing: -1px;
	margin: 0;
	padding-top: 40px;
	text-align: center;
}

.featured-subtitle {
	padding: 0 10px;
	text-align: center;
}

.widget-title {
	display: block;
	font-weight: 700;
	padding: 5px;
}

.top-widget .widget-title {
    font-size: 14px;
    padding: 0;
    text-align: right;
}

.widget-title a {
	border-bottom: none;
	padding: 0 !important;
}

.title-404 {
	color: #933;
}

/* =404 Page
-------------------------------------------------------------- */
.error404 select,
.error404 input[type="text"],
.error404 input[type="password"] {
    /*width: auto; */
}

/* =Header Menu (Primary)
-------------------------------------------------------------- */
.menu {
	background-color: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
	background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
	background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
	background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
	background-image: -o-linear-gradient(top, #585858, #3d3d3d);
	background-image: linear-gradient(top, #585858, #3d3d3d);
	clear: both;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d);*/
	margin: 0 auto;
}

.menu,
.menu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
}

.menu li:hover {
	white-space: normal;
	z-index: 10000;
}

.menu li li {
	float: none;
}

.menu ul {
	left: 0;
	position: absolute;
	top: 100%;
	visibility: hidden;
	z-index: 11000;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;

	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

.menu li:hover > ul {
	top: 100%;
	visibility: visible;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;

	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
}

.menu li li > ul,
.menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.menu:after,
.menu ul:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.menu,
.menu ul {
	min-height: 0;
}

.menu ul,
.menu ul ul {
	margin: 0;
	padding: 0;
}

.menu ul li a:hover,
.menu li li a:hover {
	color: #484848;
	text-decoration: none;
}

.menu ul {
    margin-top: 1px;
	min-width: 10em;
	width: auto;
}

.menu a {
	border-left: 1px solid #585858;
	color: #fff;
    cursor: pointer;
	display: block;
	font-weight: 700;
	margin: 0;
	padding: 0.5em 0.9em;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 0 #000;
}

.menu a:hover {
	background-color: #343434;
	color: #fff;
}

.menu .current_page_item a,
.menu .current-menu-item a {
	background-color: #343434;
}

/*.home .menu .current_page_item a {
    background: none;
	background-color: transparent;
    background-image: none;
    filter: none;
}*/

.menu li li {
	background: #fff;
	background-image: none;
	border: 1px solid #e5e5e5;
	color: #444;
	filter: none;
    margin: -1px 0 1px 0;
	width: auto;
}

.menu li li a {
	background: transparent;
	border: none;
	color: #444;
	font-weight: 400;
	height: auto;
	padding: 10px;
	text-shadow: none;
	white-space: nowrap;
}

.menu li li a:hover {
	background: #f5f5f5;
	background-image: none;
	border: none;
	color: #444;
	filter: none;
}

.menu ul > li + li {
	border-top: 0;
}

.menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.menu > li:first-child > a {
	border-left: none;
}

.menu i[class^="icon-caret-down"] {
	font-size: 80%;
	margin-left: 15px;
}

.menu i[class^="icon-double-angle-right"] {
	font-size: 80%;
	position: absolute;
	top: 30%;
	right: 5px;
}

.widget .menu, .widget .menu li, .widget .menu, .widget .menu li a {
	background: none;
	padding: 0;
	text-shadow: none;
	color: inherit;
	font-weight: normal;
}
.widget .menu li a i { position: relative; float: left; top: 20%; }

/* =Inline Menu
-------------------------------------------------------------- */
.inline-menu { background: none; color: #555555; }

.inline-menu li {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.inline-menu a {
	color: #555555;
    height: auto;
    line-height: 1em;
    text-shadow: none;
}

/* =Primary Main Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .menu ul {
	background: url(../../images/ie7-fix.gif) repeat;
}

.ie7 .menu li li a  {
    min-width: 100%;
}

/* =Responsive Menu
    TinyNav + SelectBox
-------------------------------------------------------------- */
.tinynav {
    display: none
}

.sb-holder {
	background-color: #3d3d3d;
    display: none;
    height: 30px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.sb-holder:focus .sb-selector {}

.sb-selector {
    display: block;
    height: 30px;
    right: 65px;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-indent: 10px;
    top: 0;
    /*width: 100%;*/
}

.sb-selector:link,
.sb-selector:visited,
.sb-selector:hover {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    text-decoration: none;
    /*text-shadow: 0 -1px 0 #000;*/
}

.sb-toggle, .sb-toggle:hover {
    background: transparent url(../../images/select-icons.png) 0 6px no-repeat;
    display: block;
    height: 30px;
    outline: none;
    position: absolute;
    right: 15px;
    top: 0;
    width: 30px;
}

.sb-toggle-open {
    /*background: url(../../images/select-icons.png) 0 6px no-repeat;*/
    position: absolute;
    right: 15px;
    top: 0;
}

.sb-holder-disabled {
    background-color: #3c3c3c;
    border: 1px solid #515151;
}

.sb-holder-disabled .sb-holder {}

.sb-holder-disabled .sb-toggle {}

.sb-options {
    background-color: #fff;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 11000;
    overflow-y: auto;
}

.sb-options li {
    padding: 0;
    text-align: left;
}

.sb-options a {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    font-size: 11px;
    outline: none;
    padding: 4px;
    text-indent: 4px;
}

.sb-options a:link,
.sb-options a:visited {
    color: #444;
    text-decoration: none;
}

.sb-options a:hover,
.sb-options a:focus,
.sb-options a.sb-focus {
    background-color: #f5f5f5;
    color: #444;
}

.sb-options li.last a {
    border-bottom: none;
}

.sb-options .sb-disabled {
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
}

.sb-options .sb-group {
    border-bottom: dotted 1px #515151;
    color: #ebb52d;
    display: block;
    font-weight: 700;
    padding: 7px 0 7px 3px;
}

.sb-options .sb-sub {
    padding-left: 17px;
}

/* =Sub-Header Menu
-------------------------------------------------------------- */
.sub-header-menu {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-top: none;
	clear: both;
	margin: 0 auto;
}

.sub-header-menu,
.sub-header-menu ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sub-header-menu li {
	border: 0;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
}

.sub-header-menu li:hover {
	white-space: normal;
	z-index: 10000;
}

.sub-header-menu li li {
	float: none;
}

.sub-header-menu ul {
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 10;
}

.sub-header-menu li:hover > ul {
	top: 100%;
	visibility: visible;
}

.sub-header-menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.sub-header-menu:after,
.sub-header-menu ul:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.sub-header-menu,
.sub-header-menu ul {
	min-height: 0;
}

.sub-header-menu ul,
.sub-header-menu ul ul {
	margin: 0;
	padding: 0;
}

.sub-header-menu ul li a:hover,
.sub-header-menu li li a:hover {
	color: #484848;
	text-decoration: none;
}

.sub-header-menu ul {
    margin-top: 1px;
	min-width: 15em;
	width: auto;
}

.sub-header-menu a {
	border-left: 1px solid #e5e5e5;
	color: #333;
    cursor: pointer;
	display: block;
	font-size: 12px;
	font-weight: 400;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0 0.9em;
	position: relative;
	text-decoration: none;
	text-shadow: none;
}

.sub-header-menu a:hover {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-color: #f9f9f9;
	background-clip: padding-box;
}

.sub-header-menu .current_page_item a,
.sub-header-menu .current-menu-item a {
	background-color: #f9f9f9;
}

.sub-header-menu li li {
	background: #fff;
	background-image: none;
	border: 1px solid #e5e5e5;
	color: #444;
	filter: none;
    margin: -1px 0 1px 0;
	width: auto;
}

.sub-header-menu li li a {
	border: none;
	color: #444;
	font-size: 12px;
	font-weight: 400;
	height: auto;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
	text-shadow: none;
}

.sub-header-menu li li a:hover {
	background: #f9f9f9;
	background-image: none;
	border: none;
	color: #444;
	filter: none;
}

.sub-header-menu ul > li + li {
	border-top: 0;
}

.sub-header-menu li li:hover > ul {
	left: 100%;
	top: 0;
}

.sub-header-menu > li:first-child > a {
	border-left: none;
}

.sub-header-menu ul.children a,
.sub-header-menu .current_page_ancestor,
.sub-header-menu .current_page_ancestor ul a {
	background: none;
	background-image: none;
	filter: none;
}

/* =Sub Header Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .sub-header-menu ul {
	background: url(../../images/ie7-fix.gif) repeat;
}

.ie7 .sub-header-menu li li a  {
    min-width: 100%;
}

/* =Footer Menu
-------------------------------------------------------------- */
.footer-menu {
	margin-left: 0;
    padding: 0;
}

.footer-menu li {
	display: inline;
	list-style-type: none;
}

.footer-menu li a {
	border-left: 1px solid #ccc;
	color: #333;
	padding: 0 8px;
}

.footer-menu li a:hover {
	color: #222;
}

.footer-menu > li:first-child > a {
	border-left: none;
	padding: 0 8px 0 0;
}

/* =Navigation
-------------------------------------------------------------- */
.navigation {
	color: #111;
	display: block;
	margin: 0 0 2em;
	padding: 0;
}

.navigation a {
	color: #aaa;
	padding: 4px 10px;
}

.navigation a:hover {
	color: #111;
	text-decoration: none;
}

.navigation .previous {
	float: left;
}

.navigation .next {
	float: right;
}

.navigation .bracket {
	font-size: 36px;
}

/* =Pagination (posts)
-------------------------------------------------------------- */
ul.theme-pagination {
	list-style: none;
	margin: 0;
	margin-top: 20px;
	text-align:right;
}

ul.theme-pagination > li {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin: 0;
	margin-right: 5px;
}

ul.theme-pagination > li {
	padding: 4px 8px;
}

ul.theme-pagination > li.active {
	padding: 4px 8px;
	color: #fff;
	background-color: #cccccc;
}

ul.theme-pagination > li:hover {
	background-color: #cccccc;
}

/* =Pagination (pages)
-------------------------------------------------------------- */
.pagination {
	clear: both;
	display: block;
	font-size: 16px;
	font-weight: 700;
	margin: 10px 0;
	padding: 5px 0;
}

.pagination a {
	text-decoration: none;
}

/* =Breadcrumb Lists
-------------------------------------------------------------- */
.breadcrumb-list {
	font-size: 12px;
	margin-bottom: 2em;
	border-bottom: solid #e5e5e5 1px;
	text-transform: capitalize;
}

/* =Comments
-------------------------------------------------------------- */
#commentform {
	margin: 0;
}

.comment-list {
	border-bottom: 1px solid #e5e5e5;
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-list ol {
	list-style: decimal;
}

.comment-list li {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #fff;
	border-radius: 4px;
	margin: 0;
}

.comment-list .bypostauthor {}

.comment-list li cite {
	color: #111;
	font-size: 1.1em;
	font-style: normal;
	font-weight: 400;
}

.comment-list li.alt {
	background: #fdfdfd;
}

.comment-list .children {
	list-style: none;
	margin-left: 10px;
	padding: 10px;
}

.comment-list .avatar {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	float: left;
	margin-right: 10px;
	padding: 0;
	vertical-align: middle;
}

.comment-author .fn {
}

.comment-author .says {
	color: #999;
}

.comment-body .comment-meta {
	color: #999;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.comment-body .comment-meta a {
	font-size: 11px;
}

.comment-body {
	clear: both;
	padding: 10px;
}

.comment-body p {
	clear: both;
}

.comment-body .reply {
}

.pingback, .trackback {
	list-style: none;
	margin: 20px 0;
	padding: 5px;
}

.pingback p, .trackback p {
	margin: 0;
}

.pingback cite,
.trackback cite {
	font-style: normal;
}

#pings,
#comments {
	text-align: left;
}

#respond {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid transparent;
	border-radius: 4px;
	clear: both;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
	margin-top: 15px;
	padding: 0;
}

#respond label {
	display: inline;
}

.reply {
	margin: 10px 0;
}

.comment-form-url input,
.comment-form-email input,
.comment-form-author input,
.comment-form-comment textarea {
	display: block;
	width: 65%;
}

.comment-form-comment textarea {
	width: 95%;
}

.nocomments {
	color: #999;
	font-size: .9em;
	text-align: center;
}

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 20px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.aligncenter {
	display: block;
	margin: 5px auto;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #f9f9f9;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	padding: 13px 10px 10px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 12px;
	line-height: 1.5em;
	margin: 0;
	padding: 10px;
}

img.wp-smiley {
	vertical-align: middle;
}

/* =WordPress Gallery
-------------------------------------------------------------- */
.gallery {
	margin-bottom: 20px;
	margin-left: -4px;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	box-sizing: border-box;
	color: #000;
	text-shadow: 1px 1px 2px #fff;
	font-size: 14px;
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 10% 15%;
	position: absolute;
	bottom: 10px;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 70%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.gallery img {
	border: 0px solid transparent !important;
	margin: 0 !important;
}

.gallery .gallery-icon {
	margin-right: 10px;
}

.gallery .gallery-icon a{

}

.gallery .gallery-icon img {
	opacity: 1;
	filter: alpha(opacity=100); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE6+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; /* this works in IE8 only */

	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: opacity;
  	-moz-transition-duration: 0.5s;
  	-moz-transition-property: opacity;
  	-ms-transition-duration: 0.5s;
  	-ms-transition-property: opacity;
  	-o-transition-duration: 0.5s;
  	-o-transition-property: opacity;
  	transition-duration: 0.5s;
  	transition-property: opacity;
}

.gallery .gallery-icon:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)"; /* this works in IE8 only */
}

.gallery .gallery-caption {
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl {
	margin: 0;
}

.gallery br+br {
	display: none;
}

.attachment-gallery img {
	background: #fff;
	border: 1px solid #f0f0f0;
	display: block;
	height: auto;
	margin: 15px auto;
	max-width: 96%;
	padding: 5px;
	width: auto;
}

.gallery-meta .iso,
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,
.gallery-meta .focal-length {
	display: block;
}


/* =Post Content
-------------------------------------------------------------- */
.hentry { margin-bottom: 1.5em; padding-bottom: 1.5em; border-bottom: 1px solid #E5E5E5; }
.hentry:last-child { border: none; margin: 0; padding: 0; }

.entry-header { margin-bottom: 1.5em; }

.entry-content { clear: both; }

.assistive-text, .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

/* =Post Thumbnails
-------------------------------------------------------------- */
img.wp-post-image,
img.attachment-full,
img.attachment-large,
img.attachment-medium,
img.attachment-thumbnail {
	display: block;
	margin: 15px auto;
	width: auto;
}

/* =Post Formats
-------------------------------------------------------------- */
.format-aside .entry-content {}
.format-audio .entry-content {}
.format-chat .entry-content {
	font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding: 20px 0;
}
.format-gallery .entry-content .gallery {
	margin-top: 30px !important;
}
.format-gallery .entry-content .gallery .gallery-item {
	margin-bottom: -7px;
}
.format-gallery .entry-content .gallery .gallery-icon {
	padding: 10px;
	margin: 0;
}
.format-gallery .entry-content .gallery .gallery-icon img{
	height: auto;
    max-width: 90%;
    padding: 10px;

    border: solid 1px #e5e5e5 !important;
}
.format-image .entry-content {}
.format-link .entry-content {}
.format-quote .entry-content {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7em;
}
	.format-quote .entry-content blockquote {
		margin-top: 0;
		padding-top: 15px;
		border: none;
	}
	.format-quote .entry-content p {
		padding-left: 40px;
		padding-right: 40px;
	}
	.format-quote .entry-content [class^="icon-"].alignright, .format-quote .entry-content [class*=" icon-"].alignright {
		margin-top: -35px;
	}
.format-status .entry-content {
	padding: 0;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	line-height: 1.7em;
}
.format-video .entry-content {}
.format-aside .entry-header,
format-status  .entry-header { display: none; }
.format-video .entry-header,
.format-link .entry-header {
	margin-bottom: 0;
}
.format-link .entry-content {
	padding-top: 0;
}


/* =WooCommerce
-------------------------------------------------------------- */
.breadcrumb {
	padding: 40px 0 0 0;
}

.breadcrumb a {
	color: #06c;
	font-size: 12px;
	font-weight: 400;
}

.breadcrumb a:hover {
	color: #444;
	text-decoration: none;
}

#content-woocommerce {
	margin-bottom: 20px;
}

.products ul, ul.products {
	margin-top: 40px;
}

.cart-collaterals .shipping_calculator {
	width: 100%;
}

table.shop_table {}

table.cart td.actions .coupon .input-text,
table.cart td.actions .coupon .input-text {
	cursor: text;
}

/* =Footer
-------------------------------------------------------------- */
.footer {
	font-size: 11px;
	line-height: 1.5em;
}

.footer a {
	font-weight: 400;
}

.footer a:hover {
    /* color: #444; */
}

.copyright {
	text-align: left;
}

.powered {
	text-align: right;
}

/* =Alignments Extras
-------------------------------------------------------------- */
.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

/* =Clearfix
-------------------------------------------------------------- */
.clearfix:after,
.clearfix:before,
#container:after,
#container:before,
.widget-wrapper:after,
.widget-wrapper:before {
    content: ' ';
    display: table;
}

.clearfix:after,
#container:after,
.widget-wrapper:after {
    clear: both;
}

.ie7 .clearfix,
.ie7 #container,
.ie7 .widget-wrapper {
    zoom: 1;
}

.clear {
	clear: both;
}

/* =Begin bidirectionality settings (do not change)
-------------------------------------------------------------- */
BDO[DIR="ltr"] {
	direction: ltr;
	unicode-bidi: bidi-override;
}

BDO[DIR="rtl"] {
	direction: rtl;
	unicode-bidi: bidi-override;
}

[DIR="ltr"] {
   direction: ltr;
   unicode-bidi: embed;
}

[DIR="rtl"] {
   direction: rtl;
   unicode-bidi: embed;
}

