@charset "UTF-8";

body, body.wp-admin {
	padding-top: 0 !important;
}

a { text-decoration: none; }

/*div#wpwrap{
	background: #FFF;
}*/

#core-theme-option-container {
	margin-top: 1.5em;
	min-width: 800px;
}

	#core-theme-option-container #icon-themes{
		margin-top: -10px;
	}

#core-theme-options {
	background: none repeat scroll 0 0 #222222;
	padding: 20px;
    min-width: 800px;
    width: 96%;

    /*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/
}

	#core-theme-options > #sidebar {

		width: 190px;
		height: 100%;
		list-style: none;
		float: left;
		/*position: fixed;
		top: 0px;
		left: 146px;*/

		border: none;

		/*-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;*/
	}

		#core-theme-options .core-theme-logo{
			min-height: 90px;
			background: url('../../../../images/theme-logo.png') center no-repeat;
		}

		#core-theme-options > #sidebar > #navigation {

		}

		#core-theme-options > #sidebar > #navigation > li {
			color: #21759b;
			text-decoration: none;
			text-shadow: inset 0 -1px 1px #000;

			padding: 2px 10px;
			cursor: pointer;
			margin-bottom: 0px;
			text-transform: capitalize;
			font-weight: normal;

			position: relative;

			width: 100%;
		}

		#core-theme-options > #sidebar > #navigation > li img {
			float: left;
			margin-right: 10px;
			opacity: 0.5;
		}

		#core-theme-options > #sidebar > #navigation > li:hover img {
			opacity: 1;
		}
		#core-theme-options > #sidebar > #navigation > li[id*=THEME_SLUG] img { margin-bottom: 16px; }

		#core-theme-options > #sidebar > #navigation > li {
			background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 1%, #444444 29%, #4c4c4c 88%, #4c4c4c 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4c4c4c), color-stop(29%,#444444), color-stop(88%,#4c4c4c), color-stop(98%,#4c4c4c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 1%,#444444 29%,#4c4c4c 88%,#4c4c4c 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 1%,#444444 29%,#4c4c4c 88%,#4c4c4c 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 1%,#444444 29%,#4c4c4c 88%,#4c4c4c 98%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 1%,#444444 29%,#4c4c4c 88%,#4c4c4c 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */

			color: #aaaaaa;
			margin: 15px 0;
			padding: 7px 5px;

			-webkit-border-top-left-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			/*-moz-border-radius-topleft: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;*/

			-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.35);
			-moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.35);
			box-shadow: 0 1px 2px rgba(0,0,0, 0.35);
		}

		#core-theme-options #sidebar #navigation li:hover,
		#core-theme-options #sidebar #navigation li.active {
			background: #444444;
			color: #ffffff;
			margin-left: 3px;
			z-index: 999;
			-webkit-box-shadow: inset 2px 0 2px rgba(0,0,0, 0.35);
			-moz-box-shadow: inset 2px 0 2px rgba(0,0,0, 0.35);
			box-shadow: inset 2px 0 2px rgba(0,0,0, 0.35);
		}
		#core-theme-options > #sidebar > #navigation > li.active img {
			opacity: 1;
		}

		#core-theme-options > #sidebar > #navigation > li i {
			float: right;
		}

		#core-theme-options #sidebar #navigation li:hover i,
		#core-theme-options #sidebar #navigation li.active i {
			font-size: 120%;
		}

		#core-theme-options #sidebar #navigation li .endpoint{
			opacity: 0;

			transition: opacity 1s ease-out;
			-moz-transition: opacity 1s ease-out;
			-webkit-transition: opacity 1s ease-out;
			-o-transition: opacity 1s ease-out;
		}

		#core-theme-options #sidebar #navigation li.active .endpoint{
			background-color: #ffffff;
			width: 20px;
			height: 20px;

			position: absolute;
			top: 5px;
			right: -30px;

			opacity: 1;

			transition: opacity 1s ease-in;
			-moz-transition: opacity 1s ease-in;
			-webkit-transition: opacity 1s ease-in;
			-o-transition: opacity 1s ease-in;

			transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
		}

		#core-theme-options > #sidebar > #navigation > li#core-option-group-link-z-bbp-layouts { text-transform: none; }

		#core-theme-options > #sidebar .core-theme-wrap {
			padding: 20px;
			margin-top: 100px;
			background-color: #ffffff;

			-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.35);
			-moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.35);
			box-shadow: 0 1px 2px rgba(0,0,0, 0.35);

			/*-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;*/
		}

		#core-theme-options > #sidebar .core-theme-wrap strong {
			color: #21759b;
		}

	#core-theme-options > #content {
		margin-left: 200px;
		padding: 20px;
		position: relative;
		min-height: 695px;

		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0, 0.5);
		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0, 0.5);
		box-shadow: inset 0 1px 2px rgba(0,0,0, 0.5);

		/*-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;*/
	}

.core-option-group {

}

.core-option-group-head{
	padding: 20px;
	background-color: #ffffff;
	color: #666666;
	height: 90px;

	/*-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;*/
}

.core-option-group-head h1 {
	margin-top: 0;
	text-shadow: 0 -1px 1px rgba(150, 150, 150, 0.5);
}

.core-option-group-head p {
	padding: 0 0 0.5em;
	margin-bottom: 0;
}
.core-option-group-head a {

}

.core-option-section {
	padding: 20px;
	background-color: #ffffff;
	min-height: 535px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.core-option-section > h2 {
	display: none;
}

.core-option {
	padding: 25px 0 20px 0;
	border-bottom: 1px solid #eee;
}

	.core-option textarea {
		/*width: 380px;
		height: 90px;
		padding: 5px;
		border-radius:5px;*/
	}

	.core-option input {
		margin: 0;
		vertical-align: top;
	}

	.core-option input[type=text] {
		width: 250px;
		padding: 5px;
		/*border-radius:5px;*/
	}

	.core-option input[type=checkbox] {
		height: 17px;
	}

	.core-option input[type=button], .core-option-submit {
		padding: 5px 8px 5px 8px;
		width: 130px;
		margin-left: 5px;
		cursor: pointer;
	}

	.core-option select {
		height: auto;
		line-height: auto;
		cursor: pointer;
		margin: 0;
		vertical-align: top;
		padding: 5px;
		min-width:25%;
	}

.core-option-name {
	display: inline-block;
	width: 200px;
	vertical-align: top;
	line-height: 30px;
	margin: 0;
}

.core-option-description {
	font-style: italic;
	font-size: 1em;
	color: #777;
	margin-top: 5px;
	margin-left: 200px;
}

.core-option-color {
	display: inline-block;
	width: 45px;
	height: 27px;
	border: 1px solid #dfdfdf;
	background-color: transparent;
	margin-left: 5px;
	cursor: pointer;
	/*border-radius: 3px;*/
}

.core-option-color-input {
	width: 65px !important;
}

.core-option-pattern-container {
	display: inline-block;
}

.core-option-number-input {
	width: 45px !important;
}

.core-option-number-up, .core-option-number-down {
	width: 16px;
	height: 25px;
	margin-left: 5px;
	display: inline-block;
	cursor: pointer;
	background-image: url(../images/buttons-number-arrows.png);
	background-repeat: no-repeat;
}

.core-option-number-up {
	border-right: none;
	background-position: 0px 0px;
}

.core-option-number-down {
	border-left: none;
	background-position: -16px 0px;
}

#core-options-busy {
	color: #ffffff;
	width: 29px;
	height: 29px;
	margin: 5px 20px 0;
	opacity: 0;
	display: inline-block;
	vertical-align: middle;
}

#core-options-busy .icon-spinner {
	font-size: 180%;
}

#core-options-result {
	background: #ffffff;
	font-weight: 700;
	margin: 0;
	padding: 20px;
	display: inline-block;
	top: 40%;
	left: 55%;
	position: fixed;
	opacity: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, 0.75);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, 0.75);
	box-shadow: 0 1px 3px rgba(0,0,0, 0.75);
}

#core-options-result i{
	color: #4D8B4D;
}

.core-option-image-select-container {
	display: inline-block;
	max-width: 380px;
}

	.core-option-image-select-container input {
		width: 380px !important;
	}

	.core-option-image-select-container > .preview-thumb {
		background-color: #f0f0f0;
		border: 1px solid #ddd;
		margin-bottom: 5px;
		padding: 10px;
		background-image: url(../images/select.png);
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		position: relative;
		cursor: pointer;
	}

	.core-option-image-select-container > .preview-thumb > .remove {
		display: inline-block;
		cursor: pointer;
		background-image: url(../images/delete.png);
		width: 16px;
		height: 16px;
		position: absolute;
		top: -7px;
		right: -7px;
	}

	.core-option-image-select-container > .preview-thumb > img {
		max-width: 380px;
		max-height: 228px;
		background-color: #f0f0f0;
		display: block;

	}

.core-option-theme-buttons {
	background-color: #444444;
	display: block;
	position: absolute;
	top: 0px;
	right: 0;
	padding: 5px;
	vertical-align: middle;

	-webkit-box-shadow: -2px 1px 2px rgba(0,0,0, 0.25);
	-moz-box-shadow: -2px 1px 2px rgba(0,0,0, 0.25);
	box-shadow: -2px 1px 2px rgba(0,0,0, 0.25);

	/*-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;*/
}
.core-option .slider-name {
	margin-right: 10px;
}

#footer {
	display: none;
}
body[class*="appearance_page_"] #wpfooter {
	margin-left: 340px;
	padding-left: 20px;
	display: none;
}

.core-options-tabs {
	width: 100%;
	/*border-bottom: 2px solid #eee;*/
	margin-top: 10px;
	margin-bottom: 0;
}

	.core-options-tabs > li {
		/*border-radius: 5px 5px 0 0;*/
		display: inline-block;
		padding: 6px 24px;
		margin-bottom: 0;
		font-size: 13px;
		border-bottom: none;
		margin-right: 10px;
		color: #FFF;
		background-color: #ccc;
		cursor: pointer;
		background: url(../images/pattern.png) repeat scroll 0 0;
		background-color:  #939393;
		background-image: none;
		font-weight:  normal;

		letter-spacing: 1px;
		/*text-shadow: 1px 1px 0 rgba(150, 150,150, 0.5);*/


	}

	.core-options-tabs > li:hover,
	.core-options-tabs > li.active {
		background-color: #939393;
		color: #D0D0D0;
	}

	.core-options-tabs > li:last-child {
		margin-right: 0;
	}

	.core-options-tabs > li,
	.core-options-tabs > li{

		padding: 5px 10px;
		margin-bottom: 10px;
		margin-left: 0;
		font-size: 11px;
		text-transform: capitalize;

			display: inline-block;
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;*/

	outline: none;
	overflow: visible; /* removes extra side padding in IE */
	cursor: pointer;

	background: #3f3f3f;
	color: #C6C6C6;

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.35);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.35);
	box-shadow: 0 1px 2px rgba(0,0,0, 0.35);

	}

	.core-options-tabs > li.active,
	.core-options-tabs > li.active {
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
		background: #272727;
		color: #ffffff;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);

	}

	.core-options-tabs > li:hover,
	.core-options-tabs > li:hover{
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
		background: #272727;
		color: #ffffff;
	}

	/* SUbmit Button */
	#core-options-submit, .core-option input[type="button"], .core-option-submit{

		outline: none;
		overflow: visible; /* removes extra side padding in IE */
		cursor: pointer;

		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(0,0,0,.35);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(0,0,0,.35);
		box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(0,0,0,.35);
		background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
		);/* FF3.6 */
		background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
		);/* Saf4+, Chrome */
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
		-moz-user-select: none;
		-webkit-user-select:none;
		-khtml-user-select: none;
		user-select: none;

		background-color: #272727;

		color: #FFF;

		border: none;

		/*-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;*/
	}

	/* Tables */
	#core-option-colorschemes .core-option-colorschemes .scheme td {
		vertical-align: top;
		text-align: center;
	}
	#core-option-colorschemes .core-option-colorschemes .scheme input.scheme-name {
		max-width: 170px !important;
	}
	#core-option-colorschemes .core-option-colorschemes .scheme input.scheme-color-background,
	#core-option-colorschemes .core-option-colorschemes .scheme input.scheme-color-paragraph,
	#core-option-colorschemes .core-option-colorschemes .scheme input.scheme-color-headings{
		width: 60px !important;
	}

	#core-option-colorschemes .core-option-colorschemes .scheme .core-option-color,
	.core-option-group .core-option-color {
		height: 23px;
		width: 25px;
	}
	#core-option-colorschemes .core-option-colorschemes .scheme input.scheme-opacity-background{
		width: 35px !important;
	}

	/*Override admin error messages */
	div.updated, div.error, .login #login_error {
		display: none;
	}

	div.updated, div.error {

    }


@media handheld, only screen and (max-width: 900px) {

	#core-theme-options > #sidebar {
		left: 33px;
	}
}

@media handheld, only screen and (max-width: 650px) {
	.auto-fold #wpcontent, .auto-fold #wpfooter {
		margin-left: 42px;
	}
	#core-theme-option-container {
		min-width: 560px;
		width: 560px;
	}
	#core-theme-options > #sidebar {
		width: 60px;
	}
	#core-theme-options > #content {
		margin-left: 70px;
		padding: 10px;
	}
	#core-theme-options > #sidebar > #navigation > li {
		min-height: 18px;
	}
	#core-theme-options > #sidebar > #navigation > li .item-text{
		display: none;
	}
	#core-theme-options {
		min-width: 400px !important;
		padding: 10px;
	}
	.core-option-group-head {
		height: 0;
		min-height: 110px;
	}
	#core-option-group-categories .core-option-group-head {
		min-height: 160px;
	}
	.core-option-group-head, .core-option-section {
		padding: 15px;
	}
	.core-option-description {
		margin-left: 3px;
	}
	#core-option-colorschemes .core-option-colorschemes .scheme input.scheme-name {
		max-width: 50px !important;
	}
	#core-theme-options > #sidebar .core-theme-wrap {
		display: none;
	}
	.core-option {
		padding: 5px 0;
	}
	.core-option-colorschemes td, .core-option-colorschemes th {
		padding: 0 3px;
	}
	#core-theme-options #sidebar #navigation li.active .endpoint {
		height: 15px;
		width: 15px;
		right: -15px;
	}
	.core-option input[type="text"] {
		margin-bottom: 10px;
	}
}
